.ReactModal__Content--after-open{
  top:30%!important;
  left: 25% !important;
  bottom:unset !important;
  right: unset !important;
  max-width: 50%;
  min-width: 50%;
}


.button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;

}